*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  /* background-image: linear-gradient(120deg, #f6d365, #fea0a5); */
  background-color: #fea0a5;
  color:#fff;
  font-family: sans-serif;
  min-height: 100vh;
}

header{
  font-size: 2rem;
}
header,form{
  min-height: 20vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}

form input, form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;

}

form button{
  color: #fea0a5;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background: #fea0a5;
  color:#fff;
}

.to-do-container{
  display: flex;
  justify-content: left;
  align-items: center;
}

.to-do-list{
  min-width: 40%;
  list-style: none;
}

.todo{
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li{
  flex: 1;
}

.trash-button,
.complete-button{
  background: red;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-button{
  background: green;
}
.todo-item{
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.fall{
  transform: translateY(8rem);
  opacity: 0;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select{
  color: orange;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after{
  content: "<";
  position: absolute;
  background: yellow;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after{
  background: #fff;
  color: orange;
}

#cactus1{
  width: 500px;
}

/* .grow{
  animation: grow1 1s ease-in;
}
.shrink{
  animation: shrink 1s ease-in;
} */

@keyframes grow1{
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(0.3);
  }
}

@keyframes grow2{
  from{
    transform: scale(0.3);
  }
  to{
    transform: scale(0.5);
  }
}
@keyframes grow3{
  from{
    transform: scale(0.3);
  }
  to{
    transform: scale(0.5);
  }
}
@keyframes grow4{
  from{
    transform: scale(0.5);
  }
  to{
    transform: scale(0.7);
  }
}
@keyframes grow5{
  from{
    transform: scale(0.7);
  }
  to{
    transform: scale(1);
  }
}

@keyframes shrink{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}