*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  /* background-image: linear-gradient(120deg, #f6d365, #fea0a5); */
  background-color: #F7EDE2;
  color:#1D1E18;
  font-family: sans-serif;
  min-height: 100vh;
}


h1{
  font-family: font-family: 'Pacifico', cursive;
}
header{
  font-size: 2rem;
}
header,form{
  min-height: 20vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}

form input, form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;

}

form button{
  color: #714955;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background: #714955;
  color:#fff;
}

.to-do-container{
  display: flex;
  justify-content: left;
  align-items: center;
}

.to-do-list{
  min-width: 90%;
  list-style: none;
}

.todo{
  margin: 0.5rem;
  background:transparent;
  border-bottom: 1px solid #714955;
  color: #333;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li{
  flex: 1;
}

.trash-button,
.complete-button{
  background:transparent;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-button{
  background: transparent;
}
.todo-item{
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.fall{
  transform: translateY(8rem);
  opacity: 0;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select{
  color: #19647E;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after{
  content: "<";
  position: absolute;
  background: #7B886B;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after{
  background: #fff;
  color: #19647E;
}

#cactus{
  transition: all 1s ease;
  transform: scale(0.1);
  opacity: 0;
  /* transform: translate(52%, 67%); */
  transform-origin: bottom;
  z-index: 3;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.container2{
  position: relative;
}

#Front{
  z-index: 99;
}
#Back{
 z-index: 1;
}
#soil{
  z-index: 2;
}


